.card
{
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color: black;
	margin: 3px;
    cursor: pointer;
}

.hand
{
    font-weight: bold;
}
