.card
{
	padding: 15px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color: black;
	margin: 3px;
    cursor: pointer;
}

#gameboard
{
    margin: auto;
    width: 75%;
    padding: 150px 0;
    text-align: center;
}

.hand0, .hand1
{
    font-weight: bold;
}

.phand
{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}

.discard-pile {
    display: flex;
    width: 50%;
    margin: auto;
}

.discard-child {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 10px;
}

.discard-child:first-child {
    margin-right: 20px;
}
