.card
{
	padding: 8px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 0.25em;
	margin: 3px;
    width: 5em;
    height: 7em;
    position: relative;
}

.card.yellow
{
    /* yes im aware */
    color: orange;
}

.card.blue
{
    color: blue;
}

.card.red
{
    color: red;
}

.card.black
{
    color: black;
}

.card.green
{
    color: green;
}

.card.purple
{
    color: purple;
}

.card-suits {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17.5%;
  height: 25%;
  transform: translate(-50%, -50%);
}

.card-suit {
  font-size: 1.3em;
  position: absolute;
}

#gameboard
{
    margin: auto;
    width: 50%;
    padding: 20px 0;
    text-align: center;
    user-select: none;
}

.phand
{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.discard-pile {
    display: flex;
    width: 50%;
    margin: auto;
}

.discard-child {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 25px;
}

.discard-child:first-child {
    margin-right: 20px;
}
