
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 70px 0;
  text-align: center;
  width: 40%;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Remove arrows from input box*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.card {
	padding: 8px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 0.25em;
	margin: 3px;
    width: 5em;
    height: 7em;
    position: relative;
}

.card.yellow {
    /* yes im aware */
    color: orange;
}

.card.blue {
    color: blue;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card.green {
    color: green;
}

.card.purple {
    color: purple;
}

.card-suits {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17.5%;
  height: 25%;
  transform: translate(-50%, -50%);
}

.card-suit {
  font-size: 1.3em;
  position: absolute;
}

#gameboard
{
    margin: auto;
    width: 50%;
    padding: 20px 0;
    text-align: center;
    user-select: none;
}

#roundDisp
{
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

#arrow
{
    text-align: center;
    margin: 0;
}

#p1Ready, #p2Ready
{
    text-align: center;
    border-radius: 5px;
    font-size: 2em;
    border: 2px black;
    cursor: pointer;
}

.buttons {
    text-align: center;
}

.down {
    background-color: #27AE60;
}

.phand
{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.discard-pile {
    display: flex;
    width: 50%;
    margin: auto;
}

.discard-child {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 25px;
}

#timer {
    padding: 1em 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3em;
}

#player1Name {
    background-color: #3498DB;
}

#player2Name {
    background-color: #E74C3C;
}

.pName {
    height: 30px;
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    padding: 15px 0;
}

#currRound {
    text-align: center;
    font-size: 1.5em;
}

#roundInfo {
    flex: 1.5;
}

#topEdge{
    font-family: 'Noto Sans', sans-serif;
    clear: both;
    height: 60px;
    width: 50%;
    margin: auto;
    display: flex;
}

#rm {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
}

#message {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
    margin: auto;
    width: 50%;
    text-align: center;
}

#blink {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5em;
}

.edge-child {
    flex: 1;
    width: 100px;
}

.edge-child:first-child {
    margin-right: 20px;
}

.step {
    height: 14px;
    width: 14px;
    margin: 0 2px;
    background-color: #BDC3C7;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.win1 {
    background-color: #3498DB;
    opacity: 1;
}

.step.win2 {
    background-color: #E74C3C;
    opacity: 1;
}

.step.inProgress {
    background-color: #909497;
    opacity: 1;
}

.noArrow, .yesArrow {
    height: 1px;
    width: 14px;
    margin: 0 2px;
    background-color: #FFF;
    border: none;
    display: inline-block;
    opacity: 0;
}

.yesArrow
{
  opacity: 1;
  width: 0;
  height: 0;
  font-size: 1em;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid black;
}

#joinRoom, #createRoom
{
  text-align: center;
  color: #FFF;
  border-radius: 5px;
  background-color: #3498DB;
  font-size: 2em;
  border: none;
  cursor: pointer;
}

/* Footer things */
html, body {
  height: 99%;
}

body {
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1 0 auto;
}

.footer
{
  margin-top: 0px;
  margin-bottom: 0px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.footerContent
{
    margin-top: 0px;
    margin-bottom: 0px;
    flex: 1;
}
